a.adm.rc400:hover {
    background-color: #373737;
}

a.ctauniv.rc400:hover {
    background-color: #373737;
}

input.button:hover {
    background-color: #0A6342;
}

a.rc400.conoceoferta:hover {
    background-color: #0A6342;
}

a.ctaescudo.rc400:hover {
    background-color: #0A6342;
}

a.rc400:hover {
    background-color: #373737;
}

a.rc700:hover {
    background-color: #373737;
}
